@import '../../../node_modules/antd/dist/antd.css';

.home-main-content{
    padding: 10px 50px;
}
.home-main-content-layout {
  background: #f9f9f9;
}
.home-layout-sider-left{
    width: 200px;
}
.home-layout-sider-right{ 
    padding: 10px 24px;
    min-height: 280px ;
}