@import '../../../node_modules/antd/dist/antd.css';
.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 28px 16px 0;
  float: left;
}
.home-main-content{
    padding: 10px 50px;
}
.home-main-content-layout {
  background: #f9f9f9;
}
.home-layout-sider-left{
    width: 200px;
}
.home-layout-sider-right{ 
    padding: 10px 24px;
    min-height: 280px ;
}